@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background-color: #222f3e;
  min-height: 100vh;
}

.slide{
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.slide .container{
  width: 100%;
  height: 100%;
  overflow: visible;
  transition-duration: 0.5s;
}

.slide section{ /* fits */
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  transition-timing-function: ease;
  transition-duration: 1s;
}


.slide .s1{
  background-color: #95c98f;
}
.slide .s2{
  background-color: #938fc9;
}
.slide .s3{
  background-color: #ff9999;
}
.slide .s4{
  background-color: rgb(191, 136, 196);
}

.slide section .img{
  position: relative;
  width: 100%;
  height: 100%;
}

.slide section .img img{
  display: block;
  max-width: 75%;
  max-height: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translateX(-50%) translateY(-50%);
}

.slide section .text{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 30% 70%;
  background: rgba(0,0,0,0.14);
}

.slide section .text .title{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 4em;
  font-weight: bold;
  color: whitesmoke;
}

.slide section .text .body{
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide section .text .body .content{
  font-size: 1.5em;
  color : whitesmoke;
}


.dot-container{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em;
  padding-bottom: 0.5em;
  background-color: #222f3e;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  display: flex;
  align-items: center;
}

.dot-container .dot{
  cursor: pointer;
  width: 0.5em;
  height: 0.5em;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 0.25em;
  transition-duration: 0.5s;
}

.dot-container .active{
  width: 0.75em;
  height: 0.75em;
}

.content-container{
  width: 100%;
  background-color: #222f3e;
  z-index: 2;
  overflow: hidden;
}
.content{
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  padding-top: 3em;
  color: #dfe6e9;
}

.content .content-title{
  margin-left: 3em;
  font-size: 3em;
  opacity: 0;
  transform-origin: center center;
  transform: scale(1.5);
  transition-duration: 0.5s;
  margin: 1em;
}

.content .content-title[data-in="in"]{
  opacity: 1;
  transform: scale(1);
}
.content .content-title[data-in="top"]{
  opacity: 1;
  transform: translateX(-100vw);

}

.content p{
  opacity: 0;
  transform-origin: center center;
  transform: scale(1.1);
  transition-duration: 0.2s;
}
.content .p[data-in="in"]{
  opacity: 1;
  transform: scale(1);
}

ul{
  font-size: 1.2em;
  margin: 5em;
}

.li{
  opacity: 0;
  transition-duration: 0.5s;
}

.li[data-in="in"]{
  margin: 1em;
  opacity: 1;
}

.crad-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card{
  margin: 2em auto;
  width: 30vw;
  height: 35vh;
  background-color: #aebdce;
  display: grid;
  grid-template-columns: 30% 60% 10%;
  border-radius: 1em;
  transform: rotateY(90deg);
  transition-duration: 0.4s;
  opacity: 0;
}

.card[data-in="in"]{
  transform: rotateY(0deg);
  opacity: 1;
}

.card .pp{
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.pp img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  transition-duration: 0.5s;
}
.card:hover .pp img{
  border-radius: 0%;
}

.card .content{
  display: grid;
  grid-template-rows: 30% 70%;
}

.content .name{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: #222f3e;
}

.content .text{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222f3e;
}

@media screen and (max-width: 800px) {
  .slide section{
    grid-template-columns: 100%;
  }
  .s1, .s3{
    grid-template-rows: 40% 60%;
  }
  .slide section .text .title{
    font-size: 2em;
  }

  .s2, .s4{
    grid-template-rows: 60% 40%;
  }
  
  .slide section .text .body .content{
    font-size: 1em;
    padding: 1em;
  }
  .slide .dot-container{
    bottom: unset;
    left: unset;
    border-radius: 0;
    top: 50%;
    right: 0%;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0);
  }
  .slide .dot-container .dot{
    width: 0.7em;
    height : 0.7em;
  }

  .slide .dot-container .active{
    width: 1em;
    height : 1em;
  }
  .content .content-title{
    display: block;
    text-align: center;
    margin: 1em auto;
    font-size: 2em;
  }
  ul{
    margin: unset;
  }
  .card{
    width: 90%;
    height: 90%;
  }
}